name: Build N9E
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    paths:
      - n9e/**
env:
  DOCKER_NAMESPACE: mystery0
  SERVICE_NAME: n9e
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: github-release-getter
        uses: Mystery00/github-release-getter@v1.3
        id: n9e_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          repoOwner: ccfos
          repoName: nightingale
      - name: 生成镜像Tag以及配置文件
        run: |
          docker_image_tag="${{ env.DOCKER_NAMESPACE }}/${{ env.SERVICE_NAME }}:${{ steps.n9e_release.outputs.tagName }}"
          echo "docker_image_tag=$docker_image_tag" >> $GITHUB_ENV
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - name: 登录私有仓库
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: n9e
          build-args: |
            N9E_VERSION=${{ steps.n9e_release.outputs.tagName }}
          file: n9e/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ env.docker_image_tag }}
          no-cache: true